@import 'ember-paper';

.avatar {
	height: 20px;
	width: 20px;
	border-radius: 100%;
	margin: 0 1em;
}

fieldset {
	border-width: 1px;
	border-style: solid;
	margin: 0 0.5em;
	padding: 1em;
	border-radius: 0.5em;

	@media (min-width: 1280px) {
		margin: 0 2em;
	}

	legend {
		font-size: 1.5em;
	}
}

label {
	padding: 0.8em;
	padding-left: 0;
}

a.day-link {
	display: block;
}

ul.match-listing {
	list-style: none;
	margin: 0;
	padding: 0;

	md-list {
		width: 100%;
	}
}

.manage-player {
	md-radio-button {
		display: inline-block;
	}
}

.character-select md-radio-button {
	.md-container {
		visibility: hidden;
	}

	.md-label {
		margin-left: 0;
		border-radius: 0.5em;
		padding: 1em;
		box-shadow: none;
		transition: box-shadow 0.6s;

		span div {
			text-align: center;
			font-weight: bold;
		}
	}

	&.md-checked .md-label {
		box-shadow: 0 0 1em rgba(0,0,0,0.5);
	}
}