label {
  display: block;
}

form.create-match {
  display: block;
  margin: 1em 20%;

  fieldset {
    border: 1px solid black;
    border-radius: 3px;
    padding: 0.2em;

    legend {
      margin-left: 1em;
    }
  }

  h3 {
    display: block;
    color: white;
    background: black;
    margin: 0;
    padding: 0 0.4em;
    border-radius: 3px;
  }
}

