label {
  display: block;
}

.sign-in {
  margin: 0 auto;
  padding: 18em 0;
  text-align: center;
  height: 100%;
  width: 100%;
  background-image: url(https://www.ssbwiki.com/images/4/42/Supersmashbox.jpg);

  animation: backgroundslide 5s linear infinite;

  > button {
    padding: 2em;
    transition: all 1s;

    &:hover {
      transform: scale(2, 0.8) rotate(20deg);
    }
  }
}

form.create-match {
  display: block;
  margin: 1em 20%;

  fieldset {
    border: 1px solid black;
    border-radius: 3px;
    padding: 0.2em;

    legend {
      margin-left: 1em;
    }
  }

  h3 {
    display: block;
    color: white;
    background: black;
    margin: 0;
    padding: 0 0.4em;
    border-radius: 3px;
  }
}

