ul.unstyled, ol.unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
  text-indent: 0;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: -9999px;
  left: -9999px;
}

img.round {
  border-radius: 0.5em;
}

.character-select {
  background: white;
  max-height: 125px;
  overflow: auto;
  padding: 0.3em;
  border-radius: 1em;
  text-align: center;

  > label {
    display: inline-block;
    min-width: 50px;
    text-align: center;
    border-radius: 0.2em;
    cursor: pointer;

    &:hover {
      color: blue;
      
      img {
        transform: rotate(25deg);
      }
    }

    img {
      max-height: 75px;
      transition: 0.4s;
    }

    span {
      font-size: 0.7em;
      display: block;
    }

    &.active {
      background: @player-table-bg;
    }

  }
}
