{{app-header openSideNav=(route-action 'openSideNav')}}

{{#liquid-if session.isAuthenticated class="login"}}
  {{#paper-sidenav-container class="inner-shadow"}}

    {{#paper-sidenav
      name="main-sidenav"
      open=sideNavOpen
      lockedOpen=false
      onToggle=(action (mut sideNavOpen))
    }}

      {{#paper-content padding=true}}
        {{app-sidebar
          session=session
          transition=(route-action 'transition')
          signOut=(route-action "signOut")
        }}
      {{/paper-content}}

    {{/paper-sidenav}}

    {{#paper-card-content class="flex"}}
      {{outlet}}
    {{/paper-card-content}}
  {{/paper-sidenav-container}}

{{else}}
  <div class="sign-in">
    {{#paper-button raised=true primary=true onClick=(route-action 'signIn' 'google')}}Sign in with Google{{/paper-button}}
  </div>
{{/liquid-if}}
