{{app-header signOut="signOut"}}

{{#liquid-if session.isAuthenticated class="login"}}

  {{outlet}}

{{else}}
  <div class="sign-in">
    <button {{action 'signIn' 'google'}}>Sign in with Google</button>
  </div>
{{/liquid-if}}
