{{match-listing matches=model}}

<div class="about">
	<h2>How does this work?</h2>
	<ol>
		<li>Create a new match by pressing "Create a new match" button.</li>
		<li>Setup your match and click "Create".</li>
		<li>Join the match by selecting "Join Match"</li>
		<li>Select View Details to see player stats for that match, as well as update your own.</li>
	</ol>
</div>